/* navbar */
#nav {
  opacity: 0;
  z-index: -1;
  transform: scale(0.7) rotate(-215deg);
  transition: all ease 300ms;
}

#nav.is-navbar-open {
  opacity: 0.9;
  z-index: 1;
  transform: scale(1) rotate(0);
}

#nav + nav {
  opacity: 1;
}
#nav.is-navbar-open + nav {
  opacity: 0;
}

@media (min-width: 768px) {
  #nav {
    opacity: 1;
    z-index: 1;
    transform: scale(1) rotate(0);
  }
}

/* hero */
.section {
  overflow: hidden;
  position: relative;
}

.illustration-container {
  position: relative;
}

.illustration-container::after {
  content: "";
  width: 100%;
  background-color: #5368df;
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.illustration-container-left::after {
  left: -28%;
  height: 75%;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}

.illustration-container-right::after {
  right: -28%;
  height: 75%;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}

@media (min-width: 768px) {
  .illustration-container-left::after {
    height: 80%;
  }
  .illustration-container-right::after {
    height: 70%;
  }
}

.tab-content {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

@media (min-width: 768px) {
  .tab-image {
    height: 330px;
    width: 500px;
    object-fit: fill;
    object-position: center;
    margin: 0 auto;
  }
}

.is-tab-visible {
  opacity: 1;
  position: static;
  z-index: 1;
}
